.table thead th {
  vertical-align: middle;
  font-weight: 600;
  border-bottom: none;
}

.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
}

.table td,
.table th {
  padding: 0.75rem 1rem;
  border: none;
}

.input-group-text i {
  font-size: 1rem;
}
